# Executables
*.out
*.elf
*.exe

# Object files and libraries
*.o
*.obj
*.a
*.so
*.dll

# Logs and temporary files
*.log
*.tmp
*.bak
*.old
*.orig

# Precompiled headers
*.gch
*.pch

# Editor/IDE files
.vscode/
.idea/
*.iml
*.swp
*~
*.code-workspace

# Coverage / Test reports
coverage/
*.gcda
*.gcno
*.gcov

# Optional: PC-lint / static analysis outputs
*.lnt
*.lint

# Python virtual environments (if using Python scripts for tooling)
venv/
__pycache__/
history.txt
microchip_t1s.c
.microchip_t1s.ko.cmd
.microchip_t1s.mod.cmd
.microchip_t1s.mod.o.cmd
.microchip_t1s.o.cmd
.Module.symvers.cmd
.modules.order.cmd
microchip_t1s.ko
microchip_t1s.mod
microchip_t1s.mod.c
Module.symvers
modules.order
